In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [7]:
df_pyspark = spark.read.csv('people2.csv', header = True, inferSchema=True)
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [9]:
df_pyspark = df_pyspark.na.drop()
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
+--------+---+----------+------+

In [10]:
### Filter Operations

In [20]:
df_pyspark.filter(df_pyspark['Salary'] <= 50000).show()
df_pyspark.filter(df_pyspark['Salary'] <= 50000).select(['Name', 'Age']).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Sawa| 19|         4| 48000|
|Shinobu| 23|         4| 48000|
|   Yuta| 19|         2| 24000|
+-------+---+----------+------+

+-------+---+
|   Name|Age|
+-------+---+
|   Sawa| 19|
|Shinobu| 23|
|   Yuta| 19|
+-------+---+

In [23]:
#Poor young people
df_pyspark.filter( 
                (df_pyspark['Salary'] <= 50000) & 
                (df_pyspark['Age'] <= 20)
                ).select(['Name', 'Age']).show()

+----+---+
|Name|Age|
+----+---+
|Sawa| 19|
|Yuta| 19|
+----+---+

In [ ]:
#inverse just like pandas

In [24]:
df_pyspark.filter(~(df_pyspark['Salary'] <= 50000).show()

AnalysisException: cannot resolve '(NOT `Salary`)' due to data type mismatch: argument 1 requires boolean type, however, '`Salary`' is of int type.;
'Filter (NOT Salary#102 <= 50000)
+- Filter AtLeastNNulls(n, Name#99,Age#100,Experience#101,Salary#102)
   +- Filter AtLeastNNulls(n, Name#99,Age#100,Experience#101,Salary#102)
      +- Relation[Name#99,Age#100,Experience#101,Salary#102] csv