In [1]:
import pyspark

#### Load dataframe into spark

In [2]:
import pandas as pd
pddf = pd.read_csv('people.csv')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark =SparkSession.builder.getOrCreate()

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
pyspark.__version__

'3.2.1'

In [7]:
spark

In [8]:
import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [9]:
df_pyspark = spark.read.csv('people.csv')

In [10]:
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Experience|
|Taka| 20|         7|
|Yuzu| 23|         5|
|Sawa| 19|         4|
+----+---+----------+

In [11]:
df_pyspark = spark.read.option('header', 'true').csv('people.csv')

In [12]:
df_pyspark.show()
print(type(df_pyspark))

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Taka| 20|         7|
|Yuzu| 23|         5|
|Sawa| 19|         4|
+----+---+----------+

<class 'pyspark.sql.dataframe.DataFrame'>

In [13]:
df_pyspark.head(5)

[Row(Name='Taka', Age='20', Experience='7'),
 Row(Name='Yuzu', Age='23', Experience='5'),
 Row(Name='Sawa', Age='19', Experience='4')]

In [14]:
#reading as string, need to give another option in reading 
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [15]:
df_pyspark = spark.read.csv('people.csv',
                            header = True,
                            inferSchema = True)
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Taka| 20|         7|
|Yuzu| 23|         5|
|Sawa| 19|         4|
+----+---+----------+

In [16]:
#pyspark dataframe
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
#same as pandas
df_pyspark.columns

['Name', 'Age', 'Experience']

In [18]:
df_pyspark.head(5)

[Row(Name='Taka', Age=20, Experience=7),
 Row(Name='Yuzu', Age=23, Experience=5),
 Row(Name='Sawa', Age=19, Experience=4)]

In [19]:
#select a column pd vs spark
display(pddf[['Name']])
print(type(df_pyspark.select('Name')))
df_pyspark.select('Name').show()

   Name
0  Taka
1  Yuzu
2  Sawa

<class 'pyspark.sql.dataframe.DataFrame'>
+----+
|Name|
+----+
|Taka|
|Yuzu|
|Sawa|
+----+

In [20]:
#select mutiple columns
display(pddf[['Name', 'Experience']])
df_pyspark.select(['Name', 'Experience']).show()

   Name  Experience
0  Taka           7
1  Yuzu           5
2  Sawa           4

+----+----------+
|Name|Experience|
+----+----------+
|Taka|         7|
|Yuzu|         5|
|Sawa|         4|
+----+----------+

In [21]:
df_pyspark['Name']

Column<'Name'>

In [22]:
print(df_pyspark.printSchema())
print(df_pyspark.dtypes)

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

None
[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [23]:
display(pddf.describe())
df_pyspark.describe().show()

             Age  Experience
count   3.000000    3.000000
mean   20.666667    5.333333
std     2.081666    1.527525
min    19.000000    4.000000
25%    19.500000    4.500000
50%    20.000000    5.000000
75%    21.500000    6.000000
max    23.000000    7.000000

+-------+----+------------------+------------------+
|summary|Name|               Age|        Experience|
+-------+----+------------------+------------------+
|  count|   3|                 3|                 3|
|   mean|null|20.666666666666668| 5.333333333333333|
| stddev|null|2.0816659994661326|1.5275252316519468|
|    min|Sawa|                19|                 4|
|    max|Yuzu|                23|                 7|
+-------+----+------------------+------------------+

In [24]:
# Adding columns in dataframe
df_pyspark = df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2)

In [25]:
df_pyspark.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
|Taka| 20|         7|                       9|
|Yuzu| 23|         5|                       7|
|Sawa| 19|         4|                       6|
+----+---+----------+------------------------+

In [26]:
#drop columns
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [27]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Taka| 20|         7|
|Yuzu| 23|         5|
|Sawa| 19|         4|
+----+---+----------+

In [28]:
#Rename the columns
df_pyspark = df_pyspark.withColumnRenamed('Experience', 'Exp').show()

+----+---+---+
|Name|Age|Exp|
+----+---+---+
|Taka| 20|  7|
|Yuzu| 23|  5|
|Sawa| 19|  4|
+----+---+---+