Dropping columns

Droping rows

various paramter in dropping functions

handling mssing value by mean, median, and mode

In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('people2.csv', header = True, inferSchema= True)

In [5]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [6]:
##drop the column
df_pyspark.drop('Salary').show()

+--------+----+----------+
|    Name| Age|Experience|
+--------+----+----------+
|    Taka|  20|         7|
|    Yuzu|  23|         5|
|    Sawa|  19|         4|
|  Hiyama|  25|         6|
| Shinobu|  23|         4|
|    Yuta|  19|         2|
|Kawasaki|  30|        11|
|   Murai|null|      null|
|    null|  23|         1|
|    null|  28|      null|
+--------+----+----------+

In [7]:
#drop na
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
+--------+---+----------+------+

In [8]:
# any == how
df_pyspark.na.drop(how='all').show()  #nothing droped because no whole roll is null

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [9]:
#threshold
#2 null gets dropped
df_pyspark.na.drop(how='all', thresh = 3).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
|    null| 23|         1| 12000|
+--------+---+----------+------+

In [10]:
#subset for columns
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
|    null| 23|         1| 12000|
+--------+---+----------+------+

In [11]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [12]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [13]:
#Filling the missing Value
df_pyspark.replace('null', 'Missing',subset = ['Age']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [15]:
#fill na has to be matching types
#filling "missing" would not work for interger type column
df_pyspark.printSchema()
df_pyspark.na.fill({'Age':'999'}).show()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
|   Murai|999|      null| 50000|
|    null| 23|         1| 12000|
|    null| 28|      null|  null|
+--------+---+----------+------+

In [16]:
df_pyspark.na.fill(9999, ['Age', 'Experience']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|9999|      9999| 50000|
|    null|  23|         1| 12000|
|    null|  28|      9999|  null|
+--------+----+----------+------+

In [17]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

### Fill null with mean/median

In [24]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
        inputCols = ['Age', 'Experience', 'Salary'],
        outputCols = ["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
).setStrategy('mean')

In [25]:
#Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|    Taka|  20|         7| 84000|         20|                 7|         84000|
|    Yuzu|  23|         5| 60000|         23|                 5|         60000|
|    Sawa|  19|         4| 48000|         19|                 4|         48000|
|  Hiyama|  25|         6| 72000|         25|                 6|         72000|
| Shinobu|  23|         4| 48000|         23|                 4|         48000|
|    Yuta|  19|         2| 24000|         19|                 2|         24000|
|Kawasaki|  30|        11|132000|         30|                11|        132000|
|   Murai|null|      null| 50000|         23|                 5|         50000|
|    null|  23|         1| 12000|         23|                 1|         12000|
|    null|  28|      null|  null|         28|                 5|         58888|
+--------+----+----------+------+-----------+------------------+--------------+