In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df_pyspark = spark.read.csv('people2.csv', header = True, inferSchema=True)
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [6]:
df_pyspark = df_pyspark.na.drop()
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
+--------+---+----------+------+

In [7]:
### Filter Operations

In [10]:
#Poor young people
df_pyspark.filter( 
                (df_pyspark['Salary'] <= 50000) & 
                (df_pyspark['Age'] <= 20)
                ).select(['Name', 'Age']).show()

+----+---+
|Name|Age|
+----+---+
|Sawa| 19|
|Yuta| 19|
+----+---+

In [11]:
#inverse just like pandas

In [12]:
#Rich workers
df_pyspark.filter(~(df_pyspark['Salary'] <= 50000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|  Hiyama| 25|         6| 72000|
|Kawasaki| 30|        11|132000|
+--------+---+----------+------+