In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [5]:
df_pyspark = spark.read.csv('people3.csv', header = True, inferSchema=True)
df_pyspark.show()

+---------+------------+-------+
|     Name| Departments| salary|
+---------+------------+-------+
|      Kin|Data Science| 100000|
|      Kin|     Trading|1000000|
|     Sawa|   Reporting| 120000|
|     Toru|        Maid|    100|
|    Kanna|     Student|     20|
|    Lucoo|    Gardient|   2000|
|   Fafuya|       Guard|9000000|
|   Shouta|    Magician|  20000|
|   Shouta|     Student| 200000|
|Kobayashi|         Dev| 200000|
|   Takiya|         Dev| 200000|
|Kobayashi|Data Science| 100000|
+---------+------------+-------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
## Groupby sum up salary by name
### Grouped to find the max salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|      Kin|    1100000|
|     Sawa|     120000|
|    Kanna|         20|
|   Takiya|     200000|
|   Shouta|     220000|
|Kobayashi|     300000|
|     Toru|        100|
|   Fafuya|    9000000|
|    Lucoo|       2000|
+---------+-----------+

In [14]:
### Groupby Departments which maximum salary
df_pyspark.groupBy('Departments').sum().show()
#show mean salary
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|     Student|     200020|
|    Magician|      20000|
|     Trading|    1000000|
|   Reporting|     120000|
|        Maid|        100|
|         Dev|     400000|
|       Guard|    9000000|
|Data Science|     200000|
|    Gardient|       2000|
+------------+-----------+

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|     Student|   100010.0|
|    Magician|    20000.0|
|     Trading|  1000000.0|
|   Reporting|   120000.0|
|        Maid|      100.0|
|         Dev|   200000.0|
|       Guard|  9000000.0|
|Data Science|   100000.0|
|    Gardient|     2000.0|
+------------+-----------+

In [15]:
#See how many employee in the department
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|     Student|    2|
|    Magician|    1|
|     Trading|    1|
|   Reporting|    1|
|        Maid|    1|
|         Dev|    2|
|       Guard|    1|
|Data Science|    2|
|    Gardient|    1|
+------------+-----+

In [18]:
#Total of the column with col name
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|   10942120|
+-----------+

In [21]:
df_pyspark.groupBy('Name').max().show()
df_pyspark.groupBy('Name').min().show()
df_pyspark.groupBy('Name').avg().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|      Kin|    1000000|
|     Sawa|     120000|
|    Kanna|         20|
|   Takiya|     200000|
|   Shouta|     200000|
|Kobayashi|     200000|
|     Toru|        100|
|   Fafuya|    9000000|
|    Lucoo|       2000|
+---------+-----------+

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|      Kin|     100000|
|     Sawa|     120000|
|    Kanna|         20|
|   Takiya|     200000|
|   Shouta|      20000|
|Kobayashi|     100000|
|     Toru|        100|
|   Fafuya|    9000000|
|    Lucoo|       2000|
+---------+-----------+

+---------+-----------+
|     Name|avg(salary)|
+---------+-----------+
|      Kin|   550000.0|
|     Sawa|   120000.0|
|    Kanna|       20.0|
|   Takiya|   200000.0|
|   Shouta|   110000.0|
|Kobayashi|   150000.0|
|     Toru|      100.0|
|   Fafuya|  9000000.0|
|    Lucoo|     2000.0|
+---------+-----------+