Dropping columns

Droping rows

various paramter in dropping functions

handling mssing value by mean, median, and mode

In [1]:
import pyspark

In [2]:
import pandas as pd

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
df_pyspark = spark.read.csv('people2.csv', header = True, inferSchema= True)

In [8]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [9]:
##drop the column
df_pyspark.drop('Salary').show()

+--------+----+----------+
|    Name| Age|Experience|
+--------+----+----------+
|    Taka|  20|         7|
|    Yuzu|  23|         5|
|    Sawa|  19|         4|
|  Hiyama|  25|         6|
| Shinobu|  23|         4|
|    Yuta|  19|         2|
|Kawasaki|  30|        11|
|   Murai|null|      null|
|    null|  23|         1|
|    null|  28|      null|
+--------+----+----------+

In [10]:
#drop na
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
+--------+---+----------+------+

In [12]:
# any == how
df_pyspark.na.drop(how='all').show()  #nothing droped because no whole roll is null

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [14]:
#threshold
#2 null gets dropped
df_pyspark.na.drop(how='all', thresh = 3).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
|    null| 23|         1| 12000|
+--------+---+----------+------+

In [15]:
#subset for columns
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
|    null| 23|         1| 12000|
+--------+---+----------+------+

In [21]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [25]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [55]:
#Filling the missing Value
df_pyspark.replace('null', 'Missing',subset = ['Age']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Taka|  20|         7| 84000|
|    Yuzu|  23|         5| 60000|
|    Sawa|  19|         4| 48000|
|  Hiyama|  25|         6| 72000|
| Shinobu|  23|         4| 48000|
|    Yuta|  19|         2| 24000|
|Kawasaki|  30|        11|132000|
|   Murai|null|      null| 50000|
|    null|  23|         1| 12000|
|    null|  28|      null|  null|
+--------+----+----------+------+

In [59]:
#fill na has to be matching types
df_pyspark.printSchema()
df_pyspark.na.fill({'Age':'999'}).show()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Taka| 20|         7| 84000|
|    Yuzu| 23|         5| 60000|
|    Sawa| 19|         4| 48000|
|  Hiyama| 25|         6| 72000|
| Shinobu| 23|         4| 48000|
|    Yuta| 19|         2| 24000|
|Kawasaki| 30|        11|132000|
|   Murai|999|      null| 50000|
|    null| 23|         1| 12000|
|    null| 28|      null|  null|
+--------+---+----------+------+